*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(8, 8, 8);
  font-family: "Roboto", sans-serif;
  color: #dbcccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.stopwatch {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
.outer-circle{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #eee7e7;
  display: flex;
  justify-content: center;
  align-items: center;

}
.inner-circle{
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: rgb(8, 8, 8);
  display: flex;
  justify-content: center;
  align-items: center;

}
  .stopwatch__time-show {
    font-size: 5rem;
    font-weight: 300; }
  .stopwatch__btns {
    margin-top: 8px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    
  
  }
    .stopwatch__btns-b {
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      padding: 10px 30px;
      font-weight: 600;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: solid 2px white;
      background-color: rgb(8, 8, 8);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .stopwatch__btns-b:hover{
      background-color: #dbcccc;
      color: rgb(8, 8, 8);
    }
    .stopwatch__btns-stop {
      background-color: #eb1515;
      color: white;
      box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px; 
      
    }
    .stopwatch__btns-resume {
      background-color: #245707;
      color: white;
      box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px; 
    
    }

 
.resume-active {
  transition: all 0.35s ease;

}

.stop-active {
  
  transition: all 0.35s ease; }

.reset-new {
  background-color: rgb(8, 8, 8);
  color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; }

.active {
  display: inline-block; }

.hidden {
  display: none; }

.copyright {
  position: absolute;
  bottom: 20px; }

.name {
  font-weight: 500;
  font-size: 1.2rem; }
