*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #323232;
  display: flex;
  justify-content: center;
  align-items: center; }

.stopwatch {
  width: 80%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .stopwatch__time-show {
    font-size: 5rem;
    font-weight: 300; }
  .stopwatch__btns {
    width: 300px;
    display: flex;
    justify-content: space-around; }
    .stopwatch__btns-b {
      border: none;
      cursor: pointer;
      color: #323232;
      font-size: 1.75rem;
      background-color: #ffffff;
      padding: 10px 30px;
      border-radius: 25px;
      font-weight: 600;
      box-shadow: 19px 19px 32px #d0d0d0, -19px -19px 32px #ffffff; }
    .stopwatch__btns-stop {
      background-color: #ffffff;
      color: #ff4a4a;
      box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px; }
    .stopwatch__btns-resume {
      background-color: #ffffff;
      color: #3ab0ff;
      box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px; }

.resume-active {
  background-color: #3ab0ff;
  color: #ffffff;
  transition: all 0.35s ease; }

.stop-active {
  background: #ff4a4a;
  color: white;
  transition: all 0.35s ease; }

.reset-new {
  background-color: #3ab0ff;
  color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; }

.active {
  display: inline-block; }

.hidden {
  display: none; }

.copyright {
  position: absolute;
  bottom: 20px; }

.name {
  font-weight: 500;
  font-size: 1.2rem; }

  .btn-toggle{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
  }
