//! STARTING CODDE

$default: #ffffff;
$stop: #ff4a4a;
$resume: #3ab0ff;
$black: #323232;
$gray: #777;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;

  background-color: $default;
  font-family: "Roboto", sans-serif;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  &.dark {
    background-color: #262626;
    color: $default;

    .toggle {
      background-color: $black;

      i {
        color: $default;
      }
    }

    .stopwatch__btns-b {
      border: none;
      cursor: pointer;
      color: $default;
      font-size: 1.75rem;
      background-color: $black;
      padding: 10px 30px;
      border-radius: 25px;
      font-weight: 600;
      box-shadow: 19px 19px 32px #262626, -19px -19px 32px #1b1b1b;
    }

    .copyright {
      color: $default;
    }

    .stopwatch__btns-stop {
      background-color: $default;
      color: $stop;
      box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
    }

    .stopwatch__btns-resume {
      background-color: $default;
      color: $resume;
      box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
    }
  }
}

.stopwatch {
  width: 80%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__time {
    &-show {
      font-size: 5rem;
      font-weight: 300;
    }
  }

  &__btns {
    width: 300px;
    display: flex;
    justify-content: space-around;

    &-b {
      border: none;
      cursor: pointer;
      color: $black;
      font-size: 1.75rem;
      background-color: $default;
      padding: 10px 30px;
      border-radius: 25px;
      font-weight: 600;
      box-shadow: 19px 19px 32px #d0d0d0, -19px -19px 32px #ffffff;
    }

    &-stop {
      background-color: $default;
      color: $stop;
      box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
    }
    &-resume {
      background-color: $default;
      color: $resume;
      box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
    }
  }
}

//? COLOR CHANGES AFTER BTN PRESSED

.resume-active {
  background-color: $resume;
  color: $default;
  transition: all 0.35s ease;
}

.stop-active {
  background: $stop;
  color: white;
  transition: all 0.35s ease;
}

.reset-new {
  background-color: $resume;
  color: $default;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.active {
  display: inline-block;
}
.hidden {
  display: none;
}

.copyright {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.name {
  font-weight: 500;
  font-size: 1.2rem;
  // text-transform: uppercase;
}
.toggle {
  width: 4rem;
  height: 4rem;
  background-color: $default;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  background: none !important;

  &__icon {
    width: 100%;
    height: 100%;
  }
}

.git {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.git-abit {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 2.5px;
}
